body {
    background-color: blanchedalmond;
}

.section-meme h1 {
    padding: 0.1% 27%;

}


.meme-label h2:before {
    content: '\002B';
    float: right;
    
}

.meme-container input:checked + .meme-label h2:before { 
    transition: transform .35s;
    transform: rotate(45deg);
}

.acor-body {
    display: flex;
    justify-content: center;
    /* transform: scale(1); */
    height: 0;
    overflow: hidden;
    /* transition: color 0.5s, padding 0.5s; */
    transition: transform .35s;

}

.meme-container input:checked + label + .acor-body {
    height: auto;
    padding: 20px 30px 10px;
}

.meme-container .acor-body{
    padding: 0 30px;
    transition: color 0.5s, padding 0.5s;
 
}



/* .meme-conteiner input:checked { 
    outline: 2px solid deeppink;
    } */


/* .meme-container input {
        display: none;
} */

.meme-container label {
    padding: 1 rem;
}

.meme-label {
    display: block;
    padding: 0.1% 0%;
    margin: 0% 27%;
    background: rgb(30, 210, 114);
}

.acor-body {
    
}

/* git commit -m "init: add README($(get-date -format U))" */
